<!--<div class="footer-container">
    <div class="footer">
        <div class="footer-section">
            <img src="assets/Onetech-business-solution-min-removebg-preview.png" alt="Logo One Tech" class="footer-logo">
        </div>
        <div class="footer-section footer-contact">
            <p>📞 (+216) 39 140 000</p>
            <p>🌐 <a href="https://www.onetech-bs.com/" target="_blank">https://www.onetech-bs.com</a></p>
            <p>✉️ <a href="mailto:contact.otbs@onetech-group.com">contact.otbs@onetech-group.com</a></p>
        </div>
    </div>
</div>-->
<footer class="footer">
    <div class="footer-content">
      <img src="assets/Onetech-business-solution-min-removebg-preview.png" alt="Logo Société" class="footer-logo">
      <span class="footer-text">APIMonitor</span>
    </div>
</footer>
  