<div class="Home">
    <app-appbar></app-appbar>

    <main class="page-content">
      <div *ngIf="alertMessage" class="custom-alert-backdrop">
  <div class="custom-alert-box">
    <p>{{ alertMessage }}</p>
    <button (click)="closeAlert()">OK</button>
  </div>
</div>


      <div class="container action-container">
        <div class="frame">
          <h3>Télécharger La Collection Postman </h3>
          <button class="image-button download-button" (click)="downloadFile()">
            <span aria-hidden="true"></span> Télécharger
          </button>
       </div> 


       <div class="frame">
        <h3>Importer Une Collection Postman prête à l'emploi</h3>
      
        <input id="file-upload-surveillance" type="file" (change)="onFileSelectedSurveillance($event)" hidden #fileInputSurveillance accept=".json"/>
      
        <label *ngIf="!selectedFileNameSurveillance" for="file-upload-surveillance" class="image-button file-label">
          <span aria-hidden="true"></span> Choisir Fichier
        </label>
      
        <div *ngIf="selectedFileNameSurveillance" class="file-selected-details">
          <span class="selected-file-name">
            Fichier: <strong>{{ selectedFileNameSurveillance }}</strong>
          </span>
          <div class="upload-cancel-buttons">
            <button class="image-button upload-button" (click)="uploadFileSurveillance()" [disabled]="!selectedFileSurveillance">
              <span aria-hidden="true">📤</span> Téléverser
            </button>
            <button class="image-button cancel-button" (click)="cancelFileSelectionSurveillance()">
              <span aria-hidden="true">❌</span> Annuler
            </button>
          </div>
        </div>
      </div>
      
      <div class="frame">
        <h3>Ajouter des scripts de tests à la Collection Postman importé</h3>
      
        <input id="file-upload-script" type="file" (change)="onFileSelectedScript($event)" hidden #fileInputScript accept=".json"/>
      
        <label *ngIf="!selectedFileNameScript" for="file-upload-script" class="image-button file-label">
          <span aria-hidden="true"></span> Choisir Fichier
        </label>
      
        <div *ngIf="selectedFileNameScript" class="file-selected-details">
          <span class="selected-file-name">
            Fichier: <strong>{{ selectedFileNameScript }}</strong>
          </span>
          <div class="upload-cancel-buttons">
            <button class="image-button upload-button" (click)="processPostmanFile()" [disabled]="!selectedFileScript">
              <span aria-hidden="true">📤</span> Téléverser
            </button>
            <button class="image-button cancel-button" (click)="cancelFileSelectionScript()">
              <span aria-hidden="true">❌</span> Annuler
            </button>
          </div>
        </div>
      </div>

      </div> 

    </main>


        <app-footer></app-footer>

</div> 