<app-navbar></app-navbar> 
<div class="login">

 
  <div class="image-container">
  </div>

  
  <div class="form-container">

      <h1 class="title">SE CONNECTER</h1>

      <form (submit)="handleLogin($event)">
        <div class="form-group icon-input">
          <i class="fas fa-envelope icon"></i>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Adresse email"
            [(ngModel)]="email"
            autocomplete="email"
            required
            autofocus
          />
        </div>

        <div class="form-group icon-input">
          <i class="fas fa-lock icon"></i>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Mot de passe"
            [(ngModel)]="password"
            autocomplete="current-password"
            required
          />
        </div>

        <div class="error" *ngIf="error">{{ error }}</div>
        <button type="submit" class="btn btn-primary">CONNEXION</button>
      </form>

    
      <div class="reset-link-container">
        <span class="reset-password-link" (click)="navigateToResetPassword()">
          Mot de passe oublié ?
        </span>
      </div>

      <button  class="btn btn-primary"><a href="http://localhost:3000" target="_blank" class="grafana-link">Dashboard Grafana</a></button>

  </div>
</div> 

