<app-navbar></app-navbar>

<div class="login">

  <div class="image-container">
  </div>

  <div class="form-container">

    <h1 class="title">Mot de passe oublié</h1>

    <form (submit)="handleResetPassword($event)">

      <!-- Champ Email -->
      <div class="form-group icon-input">
        <i class="fas fa-envelope icon"></i>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Adresse email"
          [(ngModel)]="email"
          autocomplete="email"
          required
          [disabled]="isLoading || isApiSuccess"
          (input)="validationError=''"
        />
      </div>

    
      <div class="error validation-error" *ngIf="validationError">
          {{ validationError }}
      </div>

     
      <div class="api-feedback" *ngIf="apiFeedbackMessage" [ngClass]="{'success-message': isApiSuccess, 'error': !isApiSuccess}">
          <i class="fas" [ngClass]="{'fa-check-circle': isApiSuccess, 'fa-times-circle': !isApiSuccess}" aria-hidden="true"></i>
          <span>{{ apiFeedbackMessage }}</span>
      </div>

     
      <button type="submit" class="btn btn-primary" [disabled]="isLoading || isApiSuccess">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        {{ isLoading ? 'VÉRIFICATION...' : 'ENVOYER' }}
      </button>
    </form>

   
    <div class="login-link-container">
       <span class="login-link" (click)="navigateToLogin()">
         Retour à la connexion
       </span>
     </div>

  </div> 

</div> 