<div class="appbar-container">
  <div *ngIf="alertMessage" class="custom-alert-backdrop">
  <div class="custom-alert-box">
    <p>{{ alertMessage }}</p>
    <button (click)="closeAlert()">OK</button>
  </div>
</div>
  <div class="appbar">
    <img src="assets/images-removebg-preview.png" alt="Profile" class="profile-icon" (click)="toggleProfileForm()" />
    <div class="title"></div>
    <div class="spacer"></div>
    <nav>
      <div class="profile-panel" *ngIf="showProfileForm">
        <h3 class="profile-title"><strong>GESTION DU PROFIL</strong></h3>

        <!-- Formulaire infos de profil -->
        <form (ngSubmit)="updateProfile()">
          <label class="profile-label">Nom d'utilisateur :</label>
          <input type="text" [(ngModel)]="admin.username" name="username" required />

          <label class="profile-label">Email :</label>
          <input type="email" [(ngModel)]="admin.email" name="email" required />

          <div class="buttons section-buttons">
            <button type="submit">Mettre à jour</button>
          </div>
        </form>

        <!-- Formulaire mot de passe -->
        <form (ngSubmit)="updatePassword()">
          <h4 class="profile-title">Changer le mot de passe</h4>
          <label class="profile-label">Ancien mot de passe :</label>
          <input type="password" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Tapez l'ancien mot de passe" required />

          <label class="profile-label">Nouveau mot de passe :</label>
          <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Tapez le nouveau mot de passe" required />

          <label class="profile-label">Confirmer le nouveau mot de passe :</label>
          <input type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" placeholder="Retapez le mot de passe" required />

          <div class="buttons section-buttons">
            <button type="submit">Changer le mot de passe</button>
          </div>
        </form>

        <button type="button" class="cancel" (click)="toggleProfileForm()">Annuler</button>

      </div>

      <button class="login-logout-button" (click)="navigateToAcceuil()">ACCEUIL</button>
      <img src="assets/deconnexion.png" alt="Logout Icon" class="logout-logo" />
      <button class="login-logout-button" (click)="handleLoginLogout()">DECONNEXION</button>
    </nav>
  </div>
</div>


  