<app-navbar></app-navbar> 
<div class="login"> 
  <div class="image-container">
  </div>

  
  <div class="form-container">
      <h1 class="title">Modifier mot de passe</h1> 
      <form (submit)="handleResetPasswordSubmit($event)"> 
        <div class="form-group icon-input">
          <i class="fas fa-key icon"></i> 
          <input
            type="text"
            id="token"
            name="token"
            placeholder="Token reçu par email" 
            [(ngModel)]="token"
            autocomplete="off"
            required
          />
        </div>

        
        <div class="form-group icon-input">
          <i class="fas fa-lock icon"></i> 
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            placeholder="Nouveau mot de passe" 
            [(ngModel)]="newPassword"
            required
          />
        </div>

       
        <div class="form-group icon-input">
          <i class="fas fa-lock icon"></i> 
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirmer le mot de passe" 
            [(ngModel)]="confirmPassword"
            required
          />
        </div>

       
        <div class="error" *ngIf="error">{{ error }}</div>
       
        <div *ngIf="success" class="success-message">{{ success }}</div> 

       
        <button type="submit" class="btn btn-primary">RÉINITIALISER</button> 
      </form>

       
       <div class="login-link-container">
          <span class="login-link" (click)="navigateToLogin()">
            Retour à la connexion
          </span>
        </div>

  </div> 

</div> 
  